body {
    font-family: 'Inter', sans-serif !important;
    background-color: #F6F7F8;
}

.d-none{
    display: none!important;
}

textarea {
    font-family: 'Inter', sans-serif;
    outline: none;
}

textarea::placeholder {
    color: #D1D1D1;

}

.content {
    padding: 206px 0px 0px 328px;
    position: relative;

}

.seperator {
    padding-left: 1px;
    margin-top: 1em;
    width: 1px;
    height: 424px;
    background: #D1D1D1;
    border: 1px;

}

.content h1 {
    font-size: 61px;
}

.content h3 {
    font-size: 20px;
    font-weight: 400;
}

.addTaskElements {
    width: 976px;
    height: 424px;
    display: flex;
    margin-top: 41px;
    box-sizing: border-box;
    gap: 10px;
}

.leftElementAddTask {
    
    width: 50%;
    max-width: 600px;
    padding-right: 59px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-sizing: border-box;
}

.rightElementAddTask {

    height: 100%;
    width: 50%;
    max-width: 600px;
    padding-left: 59px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
    ;
}

.createdSubtask,
.category,
.input,
.description,
.selectionAssignedTo,
.calender,
.priorities,
.addNewSubtask {
    width: 440px;

}

.createdSubtask{
    width: 400px;
}

.category,
.selectionAssignedTo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 21px 10px 21px;
    background-color: white;
    box-sizing: border-box;
    font-size: 21px;
    border-radius: 10px;
    margin-top: 5px;
    border: solid 1px #D1D1D1;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
   
}

#editAssignedToSelection div,
#editAssignedToSelection label,
#assignedToSelection label,
#assignedToSelection div,
#categorySelection div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

#editAssignedToSelection label:hover,
#assignedToSelection label:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#editAssignedToSelection div p,
#assignedToSelection div p,
#categorySelection div p {
    margin-block-end: 0;
    margin-block-start: 0;
}

input[type="date"]:invalid::-webkit-datetime-edit {
    color: #D1D1D1!important;
    font-size: 21px;
  }


.input {
    margin: 5px 0 5px 0;
    border-radius: 10px;
    font-size: 21px;
    padding: 13px 21px 13px 21px;
    height: 51px;
    box-sizing: border-box;
    border: solid 1px #D1D1D1;
    font-family: 'Inter', sans-serif;
    outline: none;
}

.inputCat {
    font-size: 21px;
    border: none;
    outline: none;
}

.inputCat span img {
    padding: 0px 2px 0px 2px
}

.smallSeperator {
    display: inline-block;
    border-left: 1px solid black;
    height: 25px;
}

.description {

    border-radius: 10px;
    border: solid 1px #D1D1D1;
    box-sizing: border-box;
    padding: 10px 2px 40px 23px;
    margin-top: 5px;
    height: 119px;
    font-size: 21px;
}

.addNewSubtask,
.calender {
    margin: 5px 0 5px 0;
    border-radius: 10px;
    padding: 13px 21px 13px 21px;
    height: 51px;
    box-sizing: border-box;
    border: solid 1px #D1D1D1;
    font-family: 'Inter', sans-serif;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
}

.addNewSubtask p {
    color: #D1D1D1;
}

#date::placeholder {
    color: #D1D1D1 !important;

}

.calender input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 21px;
    font-family: 'Inter';
}

.priorities {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.priorities span {
    background-color: white;
    display: flex;
    box-sizing: border-box;
    height: 51px;
    border-radius: 10px;
    width: 130px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 21px;
    border: solid 1px #D1D1D1;
    cursor: pointer;
}

.addTaskElements {
    display: flex;
}

.clearAndCreateButtons {
    display: flex;
    gap: 25px;
    width: 440px;
    justify-content: end;
}

.clearButton {
    border-style: solid;
    border-width: 1.5px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 5px;
    background-color: white;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.createButton {
    padding: 18px 15px 18px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    gap: 5px;
    color: white;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    background-color: #2A3647;
    cursor: pointer;
    border: none;
}

.createButton:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);

}

.clearButton:hover {
    border: 2px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
}

.clearButton:hover img {
    filter: invert(54%) sepia(38%) saturate(920%) hue-rotate(153deg) brightness(101%) contrast(90%);
}


.selectionAssignedTo img,
.priorities span img,
.createButton img,
.clearButton img {
    object-fit: contain;
}

#subtask {
    border: none;
    width: 100%;
    font-size: 21px;
    outline: none;
}

#colorSelection {
    display: none;
    align-items: center;
    margin-top: 10px;
    gap: 10px
}

#colorSelection div {
    width: 12px;
    height: 12px;
    border-radius: 8px;
}

.selectedColorNewCategory{
    width: 18px!important;
    height: 18px!important;
    box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);

}
.deleteCategory{
    background-color: white;
    border: none;
    outline: none;
    border-radius: 25%;
}

.deleteCategory:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
}

.hoverCategory:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.selecturgent{
    background-color: red!important;
    color: white;
}

.selecturgent img{
    filter: brightness(0) invert(1);
}

.selectmedium{
    background-color: rgb(255, 168, 0)!important;
    color: white;
}

.selectmedium img{
    filter: brightness(0) invert(1);
}

.selectlow{
    background-color: rgb(122, 226, 41)!important;
    color: white;
}

.selectlow img{
    filter: brightness(0) invert(1);
}

.createdSubtask{
    display: flex;
    justify-content: space-between;
    padding: 0px 21px 0px 21px;
    font-size: 18px;
}

input[type=text]:focus {
    background-color: white;
  }

.createdSubtask:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

input::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }


.formError{
    padding-top: 10px;
    color: red;
    font-size: 16px;
    display: flex;
}



#taskDelete div{
    display: flex;
    background-color: white;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    font-size: 21px;
    padding: 0px 10px 0px 10px;
}

#taskDelete div button{
    display: flex; 
    background-color: #2A3647;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 21px;
    padding: 5px;
} 

#taskDelete div button:hover{
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
}

#taskDelete,
#taskCreated{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 4;
}

.newTaskAssignedMember {
    border: solid 1px white;
    border-radius: 17px;
    color: white;
    font-size: 13px;
    line-height: 120%;
    display: flex;
    align-items: center;
    left: 0px;
   
}

.createdTaskAssignedMember {
    border: solid 1px white;
    border-radius: 17px;
    color: white;
    font-size: 13px;
    line-height: 120%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.memberIcon {
    margin-left: -8px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
}

@media(max-width: 1340px) {

    .leftElementAddTask,
    .rightElementAddTask {
        gap: 16px;
    }

    .addTaskElements {
        flex-direction: column;
        width: unset;
        margin-top: unset
    }

    .rightElementAddTask {
        padding-left: unset;
    }

    .content {
        padding: 100px 0px 0px 420px;
    }

    .clearAndCreateButtons {
        padding-bottom: 100px;
        padding-right: 16px;
        justify-content: right;
    }

    .content h1 {
        margin-block-end: 0;
    }
}

@media(max-width: 910px) {
    .content {
        padding: 100px 0px 0px 328px;
    }
}

@media(max-width: 800px) {

    .content {
        padding: 100px 0px 0px 180px;
        display: flex;
        flex-direction: column;
    }

    .content h1 {
        font-size: 47px !important;
        margin-block-end: 0;
    }

    .content h3 {
        font-size: 16px;
    }

    .priorities span,
    .description,
    .input,
    .category,
    .selectionAssignedTo {
        font-size: 16px;
    }

    .category,
    .input,
    .description,
    .selectionAssignedTo,
    .calender,
    .priorities,
    .addNewSubtask {
        width: 396px;
    }

    .clearAndCreateButtons {
        width: 396px;
    }

    .addTaskElements {
        margin-top: 20px;
    }

    .rightElementAddTask {
        padding-top: unset;
    }

    
.createdSubtask{
    width: 350px;
}

}

@media(max-width: 650px) {
    .content {
        padding: 100px 0px 0px 16px;

    }
}

@media(max-width: 430px){
    .clearAndCreateButtons{
        padding-right: unset;
    }
}
@media(max-width: 420px) {

    .clearAndCreateButtons,
    .category,
    .input,
    .description,
    .selectionAssignedTo,
    .calender,
    .priorities,
    .addNewSubtask {
        width: 350px;
    }

    .priorities {
        gap: 5px
    }
}

@media(max-width: 370px) {

    .clearAndCreateButtons,
    .category,
    .input,
    .description,
    .selectionAssignedTo,
    .calender,
    .priorities,
    .addNewSubtask {
        width: 325px;
    }
}


@media(max-width: 373px) {

    .clearAndCreateButtons,
    .category,
    .input,
    .description,
    .selectionAssignedTo,
    .calender,
    .priorities,
    .addNewSubtask {
        width: 305px;
    }
}