body {
  background-color: #F6F7F8;
  margin: 0;
  font-family: 'Open-sans', sans-serif;
  font-weight: 400;
}

.join-logo {
  
  padding: 19px;
}

.signup-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  height: 559px;
  width: 652px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  gap: 35px;
  padding: 35px 0 35px 0;
  box-shadow: 0px 0px 14px 3px rgb(0 0 0 / 15%);
}

#signup-container,
.wider-container-style {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}


.signup-form h1 {
  font-size: 61px;
  font-weight: 700;
  text-align: center;
  margin: 0 15px;
}

.signup-form hr {
  height: 3px;
  width: 150px;
  background-color: #29ABE2;
  margin: 0;
  border: 3px;
}

.input-field {
  width: 422px;
  height: 51px;
  font-size: 21px;
  padding: 13px 21px 13px 21px;
  gap: 10px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.input-field::placeholder {
  color: #d1d1d1;
}

#registerBtn,
#loginBtn,
#forgotPasswordBtn,
#resetPasswordBtn {
  background-color: #2a3647;
  border-radius: 8px;
  height: 51px;
  width: 145px;
  border: unset;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  padding: 4px 0px 4px 0px;
  cursor: pointer;
}

#userName {
  background: url(../img/user-line.png) no-repeat scroll 370px 13px;
}

#emailLogin,
#emailSignUp {
  background: url(../img/email-icon.png) no-repeat scroll 370px 13px;
}

#password,
#passwordLogin {
  background: url(../img/lock.png) no-repeat scroll 370px 13px;
}

#password:focus,
#emailLogin:focus,
#userName:focus,
#emailSignUp:focus,
#password:focus,
#email:focus {
  outline: 2px solid #29ABE2;
}

.arrow-left {
  position: absolute;
  top: 97px;
  left: 40px;
  cursor: pointer;
}

.signup-btn:hover,
#loginBtn:hover,
#registerBtn:hover,
#forgotPasswordBtn:hover,
#resetPasswordBtn:hover {
  background-color: #29ABE2;
  box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
}


#infoBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  display: none;
}


#infoText {
  display: flex;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
   background-color: #2A3647;
  border-radius: 20px;
  animation: slideIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

@keyframes slideIn {
  0% {
      transform: translate(-50%, 100%);
  }

  100% {
      transform: translate(-50%, -700%);
  }
}

@media (max-width: 375px) {
  body {
    font-size: 16px;
  }



  .signup-form {
    width: 325px;
    padding: 30px 0;

  }

  .signup-form h1 {
    font-size: 30px;
  }

  .signup-form hr {
    width: 60px;
  }

  .input-field {
    width: 265px;
  }

  #signup-container,
  .wider-container-style {
    
    display: inline-grid;
    margin-bottom: 306px;
    
    text-align: center;
    padding-top: 120px;
  }

  .arrow-left {
    margin-top: -73px;
  }

  .join-logo {
    margin-top: 7px;
    width: 50px;
    padding: 10px;
  }
}

@media (max-width: 490px) {
  body {
    font-size: 16px;
  }


  #infoText {
    width: 293px;
    height: 50px;
  
  }

  .signup-form {
    width: 325px;
    padding: 30px 0;

  }

  .signup-form h1 {
    font-size: 30px;
  }

  .signup-form hr {
    width: 60px;
  }

  .input-field {
    width: 265px;
  }

  #signup-container,
  .wider-container-style {
    
    display: inline-grid;
    margin-bottom: 306px;
    
    text-align: center;
    padding-top: 120px;
  }

  .arrow-left {
    margin-top: -73px;
  }

  .join-logo {
    margin-top: 7px;
    width: 50px;
    padding: 10px;
  }
}



@media (max-width: 950px) {
  .signup-form {

    height: 420px;
  }
}

@media (max-width: 667px) and (max-height: 375px) and (orientation: landscape) {
  body {
    font-size: 14px;
  }

  .signup-form {
    
    height: 271px;
    width: 440px;
    
}

.signup-form h1 {
  font-size: 61px;
  font-weight: 700;
  text-align: center;
  margin: 0 15px;
}

  #signup-container {
    margin-top: -18px;
    padding-right: 7px;
}

  #join-logo, #join-logo-reset-password {
    width: 100px;
    height: 100px;
}

  .input-field {
    height: auto;
    width: 100%;
    font-size: 16px;
    padding: 10px;
  }

  .login-form {
    
    width: 364px;
    height: 192px;
  }

  .login-form-forget {
    width: 410px;
    height: 217px;
    padding: 30px;
    margin-top: 25px;
}

.login-form-forget h1 {
  font-size: 30px;
  margin: 0;
  margin-top: -57px;
}

  .join-logo {
    width: 50px;
    padding: 30px 33px 40px 30px;
  }

  #login-container,
  .wider-container-style {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    margin-bottom: 60px;
  }

  .login-form-reset{
      width: 370px;
      height: 157px;
  }

  .login-form-reset h1 {
     margin-bottom: -27px;
  }

  .arrow-left {
      margin-top: -33px;
  }

  .font-span {
      font-size: 18px;
      width: 100%;
      height: auto;
      line-height: 18px;
  }

  
  /* ... Iphone 11  ... */
}

@media (max-width: 896px) and (max-height: 414px) and (orientation: landscape) {
  body {
    font-size: 14px;
  }

  .input-field {
    height: 100px;
    width: 300px;
    margin-top: -19px;
    
  }
  .signup-form h1 {
    font-size: 49px;
     margin-bottom: -35px;
}

  #registerBtn, #loginBtn, #forgotPasswordBtn, #resetPasswordBtn {
    background-color: #2a3647;
    border-radius: 8px;
    height: 51px;
    width: 145px;
    border: unset;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    padding: 4px 0px 4px 0px;
    cursor: pointer;
}

  .login-form-forget {
    width: 410px;
    height: 217px;
    padding: 30px;
    margin-top: 25px;
}

.login-form-forget h1 {
  font-size: 30px;
  margin: 0;
  margin-top: -57px;
}

  .join-logo {
    width: 50px;
    padding: 30px 33px 40px 30px;
  }

  #login-container,
  .wider-container-style {
   margin-bottom: -210px;
  }

  .login-form-reset{
      width: 370px;
      height: 157px;
  }

  .login-form-reset h1 {
     margin-bottom: -27px;
  }

  .arrow-left {
      margin-top: -65px;
  }

  .font-span {
      font-size: 18px;
      width: 100%;
      height: auto;
      line-height: 18px;
  }

  
  /* ... Iphone 11  ... */
}
